body {
  background-color: #f39c12;
}

h1 {
  font-weight: bold;
  font-size: 5em;
}

input, button {
  font-size: 2em;
  text-align: center;
  width: 10%;
  background-color: #e67e22;
  border: none;
}

#player {
  background-color: #f39c12;
}

#dealer {
  background-color: #e67e22;
}

.board {
  min-height: 50vh;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.dice {
  background-image: url('../images/dice-sprite.png');
  width: 100px;
  height: 100px;
  margin: 1em;
  animation: roll 2s infinite;
};

@keyframes roll {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 5000px;
  };
};